@keyframes fadeIn {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(40%);
    opacity: 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes gradientReverse {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes neon {
  0% {
    filter: drop-shadow(0 0 0.05rem black);
  }
  20% {
    filter: drop-shadow(0 0 0.13rem  black);
  }
  40% {
    filter: drop-shadow(0 0 0.05rem black);
  }
  60% {
    filter: drop-shadow(0 0 0.15rem black);
  }
  80% {
    filter: drop-shadow(0 0 0.05rem black);
  }
  100% {
    filter: drop-shadow(0 0 0.07rem black);
  }
}

@keyframes fillAnimation {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 200% 100%;
  }
}

.left {
  animation: fillAnimation 0.5s ease-in-out forwards;
  background: linear-gradient(to right, blue 50%, transparent 50%);
  background-size: 0% 100%;
  background-position: left;
}
.right {
  animation: fillAnimation 0.5s ease-in-out forwards;
  background: linear-gradient(to right, blue 50%, transparent 50%);
  background-size: 0% 100%;
  background-position: right;
}